.color-primary {
    color: rgb(149, 111, 71);
}

.select-style1 {
    height: 40px;
    font-size: 20px;
    color: blue;
}


.tb-head>tr>td {
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}

.tb-body>tr>td {
    border: 1px solid black;
}

p {
    color: red;
    font-size: 40px;
}

#p1{
    font-size: 30px;
    color: aqua;
}
